# Import Libraries

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Import data

In [26]:
Vacancy_L2 = pd.read_csv('job-vacancy-rate-by-industry-level2.csv')
Recruitment_Resignation_L2 = pd.read_csv('average-monthly-recruitment-resignation-rate-by-industry-level-2.csv')

# Data Cleaning

## 1. Inspect Dataframe

In [27]:
print(Vacancy_L2.head())
print(Recruitment_Resignation_L2.head())
print(Recruitment_Resignation_L2['industry2'].unique())

   quarter      industry1                        industry2  job_vacancy_rate
0  1990-Q1  manufacturing      food, beverages and tobacco               4.2
1  1990-Q1  manufacturing      textile and wearing apparel              14.0
2  1990-Q1  manufacturing    paper products and publishing               6.1
3  1990-Q1  manufacturing  petroleum and chemical products               4.2
4  1990-Q1  manufacturing      rubber and plastic products               7.4
   quarter      industry1                        industry2  recruitment_rate  \
0  1990-Q1  manufacturing      food, beverages and tobacco               3.6
1  1990-Q1  manufacturing      textile and wearing apparel               3.6
2  1990-Q1  manufacturing    paper products and publishing               3.9
3  1990-Q1  manufacturing  petroleum and chemical products               2.9
4  1990-Q1  manufacturing      rubber and plastic products               5.2

   resignation_rate
0               3.2
1               4.5
2               3.5
3               2.5
4               5.3
['food, beverages and tobacco' 'textile and wearing apparel'
 'paper products and publishing' 'petroleum and chemical products'
 'rubber and plastic products' 'fabricated metal products'
 'machinery and equipment' 'electrical products' 'electronic products'
 'medical and precision instruments' 'transport equipment'
 'other manufacturing industries' 'construction'
 'wholesale and retail trade' 'hotels and restaurants'
 'transport, storage and communications' 'financial intermediation'
 'business and real estate services'
 'community, social and personal services' 'others'
 'paper products and printing'
 'petroleum, chemical and pharmaceutical products' 'transport and storage'
 'information and communications' 'financial services'
 'real estate and leasing services' 'professional services'
 'administrative and support services'
 'paper,rubber,plastic products and printing'
 'fabricated metal products, machinery and equipment'
 'electronic, computer and optical products' 'transportation and storage'
 'accommodation and food services' 'financial and insurance services'
 'real estate services']

## 2. Check for missing data

In [29]:
# Check missing data for recruitment and Resignation
Missing_Recruitment_Resignation_L2 = Recruitment_Resignation_L2.isnull().sum()
print(Missing_Recruitment_Resignation_L2)

# Check missing data for Vacancy Rate 
Missing_Vacancy_L2 = Recruitment_and_Resignation_Level2.isnull().sum()
print(Missing_Vacancy_L2)

quarter             0
industry1           0
industry2           0
recruitment_rate    0
resignation_rate    0
dtype: int64
quarter             0
industry1           0
industry2           0
recruitment_rate    0
resignation_rate    0
dtype: int64

## 3. Drop data before 2014

In [31]:
def filter_data(df):
    df.drop(df[df['quarter'] < '2014'].index, inplace=True)

In [35]:
filter_data(Recruitment_Resignation_L2)
filter_data(Vacancy_L2)
Recruitment_Resignation_L2.head()

,quarter,industry1,industry2,recruitment_rate,resignation_rate
1904,2014-Q1,manufacturing,"food, beverages and tobacco",2.8,2.7
1905,2014-Q1,manufacturing,"paper,rubber,plastic products and printing",2.1,2.0
1906,2014-Q1,manufacturing,"petroleum, chemical and pharmaceutical products",1.6,0.9
1907,2014-Q1,manufacturing,"fabricated metal products, machinery and equip...",2.1,1.6
1908,2014-Q1,manufacturing,"electronic, computer and optical products",1.4,1.7

## 4. Merge data

In [38]:
all_L2_df = Recruitment_Resignation_L2.merge(Vacancy_L2)
all_L2_df

,quarter,industry1,industry2,recruitment_rate,resignation_rate,job_vacancy_rate
0,2014-Q1,manufacturing,"food, beverages and tobacco",2.8,2.7,3.1
1,2014-Q1,manufacturing,"paper,rubber,plastic products and printing",2.1,2.0,2.0
2,2014-Q1,manufacturing,"petroleum, chemical and pharmaceutical products",1.6,0.9,2.0
3,2014-Q1,manufacturing,"fabricated metal products, machinery and equip...",2.1,1.6,1.7
4,2014-Q1,manufacturing,"electronic, computer and optical products",1.4,1.7,2.5
...,...,...,...,...,...,...
445,2020-Q1,services,real estate services,2.4,1.7,2.6
446,2020-Q1,services,professional services,2.2,1.4,1.9
447,2020-Q1,services,administrative and support services,3.7,3.3,2.2
448,2020-Q1,services,"community, social and personal services",1.5,1.1,2.7
449,2020-Q1,others,others,1.3,1.2,2.0